extends ../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/bnBrand/"+pdsec.pdfir.brand._id) #{pdsec.pdfir.brand.nome}
				li.breadcrumb-item: a(href="/bnPdfir/"+pdsec.pdfir._id) #{pdsec.pdfir.code}
				li.breadcrumb-item.active(aria-current="page") #{pdsec.code}

		- let photo = pdsec.photo;
		if !photo
			- photo = Conf.picDefault.pdsec;
		.info
			include ./detail/info
			hr

		.pdthd
			include ./detail/pdthd

	script(src="/js/dbs/ajaxGet/pdthd.js")

	script(src="/js/user/bner/pdsec/pdthd.js")
	script(src="/js/user/bner/pdthd/edit.js")