extends ../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/ctBrand/"+pdfir.brand._id) #{pdfir.brand.nome}
				li.breadcrumb-item.active(aria-current="page") 系列详情
		- var photo = pdfir.photo;
		if !photo
			- photo = Conf.picDefault.pdfir;
		.info
			include ./detail/info
			hr

		.pdsec
			input#pdsecFilterAjax(type="hidden", value="/usPdsecsAjax?pdfirId="+pdfir._id+"@#pdsecsElem@ct")
			#pdsecsElem.mt-5
	script(src="/js/user/cter/pdfir/detail.js")
	script(src="/js/dbs/ajaxGet/pdsec.js")