extends ../aalayout/layout

block content
	.container.mt-3
		.row.text-center
			.col-6.col-lg-3.mt-3
				a(href="/adCategs")
					img(src="/imgs/index/deposits.png", width="50px", height="50px")
				a.btn.btn-default.btn-lg.btn-block.text-dark(href="/adCategs") 品类列表
		hr
		.row.text-center
			.col-6.col-lg-3.mt-3
				a(href="/adUsers")
					img(src="/imgs/index/staff.jpg", width="50px", height="50px")
				a.btn.btn-default.btn-lg.btn-block.text-dark(href="/adUsers") 用户列表
			.col-6.col-lg-3.mt-3
				a(href="/adFirms")
					img(src="/imgs/index/office.jpg", width="50px", height="50px")
				a.btn.btn-default.btn-lg.btn-block.text-dark(href="/adFirms") 公司列表
