extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/sfDins") 列表
				li.breadcrumb-item.active(aria-current="page") 订单
		.info.my-3
			include ./detail/basicInfo
			include ./detail/billInfo

		.dinpd.text-right
			if din.status == Conf.status.init.num
				-a;

			include ./compd/list

		include ../../../aaPlugin/comment/list