extends ../../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item.active(aria-current="page") 订单列表
		.filter
			.bg-white.input-group.py-3.my-3#searchElem
				input.form-control#dinSearch(type="text", placeholder="询价单名称搜索")
				.input-group-append
					button.btn.btn-outline-secondary(type="button") <span class="oi oi-magnifying-glass"></span>
			each sts in Conf.dinSts
				- let stsBtn = "btn-default";
				if sts == 'unpaid'
					- stsBtn = "btn-success";
				button.btn.statusClick(class=stsBtn, type="button", data-status=Conf.status[sts].num) #{Conf.status[sts].val}
				span &nbsp; &nbsp; &nbsp;
			button.btn.statusClick#statusAll(class=stsBtn, type="button") 全部
		.dinsList.mt-3
			input#dinFilterAjax(type="hidden", value="/usDinsAjax?@#dinsElem@sf@&status="+Conf.status.unpaid.num)
			//- input#dinFilterAjax(type="hidden", value="?key=xxx@#dinsElem")
			#dinsElem.mt-5

		script(src="/js/dbs/ajaxGet/din.js")