meta(charset="utf-8")
link(rel="shortcut icon" href="/imgs/niuale.png")
link(href="/libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet", type="text/css")
link(href="/open-iconic/css/open-iconic-bootstrap.css", rel="stylesheet", type="text/css")
link(href="/css/main.css", rel="stylesheet", type="text/css")
<style type="text/css" media=print> .noprint{display: none;} </style>
script(src="/libs/jquery/dist/jquery.min.js")
script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/user/cter/index/header.js")
script(src="/js/main.js")
meta(name="viewport" content="width=device-width,height=device-height,maximum-scale=1.0,user-scalable=no")