extends ../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item.active(aria-current="page") 账单列表
		.filter
			//- .bg-white.input-group.py-3.my-3#searchElem
				input.form-control#dutSearch(type="text", placeholder="采购单搜索")
				.input-group-append
					button.btn.btn-outline-secondary(type="button") <span class="oi oi-magnifying-glass"></span>
			button.mr-3.btn.btn-success.statusClick#statusAll(type="button") 全部
			button.mr-3.btn.btn-default.statusClick(type="button", data-status=1) 销售账单
			button.mr-3.btn.btn-default.statusClick(type="button", data-status=-1) 采购账单
		input#billFilterAjax(type="hidden", value="/usBillsAjax?@#billsElem@bn")
		//- input#billFilterAjax(type="hidden", value="?key=xxx@#billsElem")
		#billsElem.mt-4

	script(src="/js/dbs/ajaxGet/bill.js")