extends ../../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item.active(aria-current="page") 公司信息
		if crUser && crUser.role <= Conf.roleUser.manager.num
			-a;
			include ./postUpd
		if firm.posts
			-a;
			#carouselExampleIndicators.carousel.slide(data-ride="carousel")
				.carousel-inner
					- let i = 0;
					each post in firm.posts
						- i++;
						- active = '';
						if i == 1
							- active = 'active';
						.carousel-item(class=active)
							img.d-block.w-100(src=post.photo)
							.carousel-caption.d-none.d-md-block
								h5 #{post.title}
								p #{post.desp}
					//- .carousel-item.active
					//- 	img.d-block.w-100(src="/imgs/sl1.jpg")
					//- 	.carousel-caption.d-none.d-md-block
					//- 		h5 第一个
					//- 		p 第一个
				a.carousel-control-prev(href="#carouselExampleIndicators" role="button" data-slide="prev")
					span.carousel-control-prev-icon(aria-hidden="true")
					span.sr-only Previous
				a.carousel-control-next(href="#carouselExampleIndicators" role="button" data-slide="next")
					span.carousel-control-next-icon(aria-hidden="true")
					span.sr-only Next
		hr
		if crUser && crUser.role <= Conf.roleUser.manager.num
			-a;
			include ./basicUpd
		include ./basicInfo
	script(src="./js/user/mger/index/firmPostUpd.js")