extends ../aalayout/layout

block content
	.container
		.title
			.row
				.col-9.text-muted.mt-2: h5
					a.text-muted(href="/cter") Home
					span &nbsp; | &nbsp;
					span 我的订单
				.col-3.text-right
					//- button.btn.btn-light#pdnomeTog(type="button") <span class="oi oi-align-right"></span>
		.text-center.mt-5
			h1.text-warning 开发中