extends ../../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item.active(aria-current="page") 报价单列表
		.filter
			.bg-white.input-group.py-3.my-3#searchElem
				input.form-control#qutSearch(type="text", placeholder="询价单名称搜索")
				.input-group-append
					button.btn.btn-outline-secondary(type="button") <span class="oi oi-magnifying-glass"></span>

			span.mr-5 查看报价单:
			button.mr-5.btn.btn-success.statusClick#statusAll.btn-default(type="button") 全部
			each sts in Conf.qutSts
				-a;
				button.mr-3.btn.btn-default.statusClick(type="button", data-status=Conf.status[sts].num) #{Conf.status[sts].val}
		.inquotsList.mt-3
			input#qutFilterAjax(type="hidden", value="/usQutsAjax?@#inquotsElem@sf@")
			//- input#qutFilterAjax(type="hidden", value="?key=xxx@#inquotsElem")
			#inquotsElem.mt-5

		script(src="/js/dbs/ajaxGet/qut.js")