extends ../../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item.active(aria-current="page") 新闻列表
		.add.text-right
			a.btn.btn-info(href="/pmNoticeAdd") +
		.info
			include ../list
