extends ../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/bnStrmups") 列表
				li.breadcrumb-item.active(aria-current="page") 供应商详情
		.basic
			.row
				.col-10
					h3.nome #{strmup.nome}
				.col-2
					a.btn.btn-warning(href="/bnStrmupUp/"+strmup._id) 更新
			include ./detail/info
		.buys
			include ./detail/buy
	script(src="/js/user/bner/strmup/detail.js")