extends ../aalayout/layout

block content
	.container
		include ./detail/thisUpd
		include ./detail/thisInfo
		div(style="height:40px")
		include ./detail/listUsers
		hr
		include ./detail/delete
	