extends ../aalayout/layout

block content
	.container.mt-3
		.row
			.col-12.text-right
				a.btn.btn-warning(href="/adFirmAdd") <span class="oi oi-plus"></span>
		.row.mt-3
			.col-12
				table.table.table-hover.table-bordered
					thead
						tr
							th code
							th nome
							th type
							th responser
					tbody
						each firm in firms
							-a;
							tr(class="firm-id-"+firm._id)
								td: a(href="/adFirm/"+firm._id) #{firm.code}
								td #{firm.nome}
								td
									- let categ = '';
									each categFirm in Conf.categFirm
										-a;
										if categFirm.num == firm.categ
											- categ = categFirm.val;
											- break;
									span #{categ}
								td #{firm.resp}