- let object = new Object();
- let point = null;
if inquot
	- object = inquot, point = "inquot";
else if din
	- object = din, point = "ordin";
else if dut
	- object = dut, point = "ordin";
//- input#point(type="hidden", value=point)
if point
	-a;
	div(style="height:108px")
	h3 留言区
	#commentNew
		form#commentForm(method="POST", action="/usCommentNewAjax")
			input(type="hidden", name="obj[" + point + "]", value=object._id)
			if crUser
				-a;
				input(type="hidden", name="obj[from]", value=crUser._id)
			.form-group.row
				.col-12
					textarea.form-control#contentIpt(name="obj[content]",rows="5", placeholder="发表留言或者提出问题")
			.form-group.row
				.col-12.text-right
					button.btn.btn-primary#commentSubmitBtn(type='button') 发表
	hr
	#comments
		input#commentFilterAjax(type="hidden", value="/usCommentsAjax?"+point+"="+object._id+"@#commentsElem@us")
		#commentsElem.mt-4

	script(src="/js/dbs/comment/list.js")
	script(src="/js/dbs/comment/add.js")
	script(src="/js/dbs/comment/option.js")
else
	h3 评论区出现错误, 请联系技术人员