div(style="height:50px")
.row
	.col-12.text-center
		a.btn.btn-default.btn-block(href="#") 往下翻 删除
div(style="height:350px")
.row.my-5
	.col-12.text-center
		a.btn.btn-danger.del(href="/adCategDel/"+object._id) <span class="oi oi-trash"></span>