table.mt-3.table.table-hover.bg-light
	tr
		td <strong>名称编号:</strong>
		td #{object.code}
	tr
		td <strong>英文名称:</strong>
		td #{object.en}
	tr
		td <strong>中文名称:</strong> 
		td #{object.cn}
	tr
		td <strong>意大利文:</strong>
		td #{object.it}