.pcSpace
	.about.text-center(style="")
		.milano-box(style="width: 50%; float: left; background-image:url('./imgs/us/mi.jpg');")
			.milano(style="background-color: #000; opacity: 0.8;")
				.text-secondary(style="font-size: 30px;font-family:'Times New Roman';")
					.pt-5.aboutH1 打造行业一流欧洲家居直购平台
					.aboutSpace
					.aboutH2(style="font-family:'Times New Roman';")  MILANO
					.mt-5.aboutH3(style="font-family:'Times New Roman';") HOLARTEC S.R.L.
					p.mt-3.aboutP Address: Via Cagliero 6
					p.aboutP 10125, Milano(MI), Italy
					p.aboutP Tel: +39 3314488217
					p.aboutP Cell: +39 3888787897
					p.aboutP Email: Holartec.milano@gmail.com
		.shanghai-box(style="width: 50%; float: left; background-image:url('./imgs/us/sh.jpg');")
			.shanghai(style="background-color: #000; opacity: 0.8;")
				.text-secondary(style="font-size: 30px;font-family:'Times New Roman';")
					.pt-5.aboutH1 提供欧洲到中国一站式供应链服务
					.aboutSpace
					.aboutH2(style="font-family:'Times New Roman';")  SHANGHAI
					.mt-5.aboutH3(style="font-family:'Times New Roman';") KAKUI TRADING CO., LTD
					.aboutH3(style="font-family:'Times New Roman';") 格一（上海）贸易有限公司
					p.mt-3.aboutP Address: TianyaoQiao Rd
					p.aboutP Xuhui Shanghai P.R.C. 200030
					p.aboutP Tel: +86 15821788876
					p.aboutP Email: server@shgeyi.com.cn
.mbSpace.text-center
	div.aboutImg(style="position: relative;")
		img.aboutImg.miImg(src="./imgs/us/mi.jpg", width="100%")
		h3.mitext.text-white(style="position:absolute; z-index:2; bottom:30px; width: 100%") Milano <span class="oi oi-badge"></span>
	div(style="position: relative;")
		img.aboutImg.shImg(src="./imgs/us/sh.jpg", width="100%")
		h3.shtext.text-white(style="position:absolute; z-index:2; bottom:30px; width: 100%") Shanghai <span class="oi oi-badge"></span>
	.milanoMb-box(style="width: 100%; float: left; background-image:url('./imgs/us/mi.jpg'); display:none;")
		.milanoMb(style="background-color: #000; opacity: 0.8;")
			.text-secondary(style="font-size: 30px;font-family:'Times New Roman';")
				h5.pt-5 打造行业一流欧洲家居直购平台
				.aboutMbSpace
				h5(style="font-family:'Times New Roman';")  MILANO
				h5.mt-5(style="font-family:'Times New Roman';") HOLARTEC S.R.L.
				h6.mt-3 Address: Via Cagliero 6
				h6.mt-3 10125, Milano(MI), Italy
				h6.mt-3 Tel: +39 3314488217
				h6.mt-3 Cell: +39 3888787897
				h6.mt-3 Email: Holartec.milano@gmail.com
	.shanghaiMb-box(style="width: 100%; float: left; background-image:url('./imgs/us/sh.jpg'); display:none;")
		.shanghaiMb(style="background-color: #000; opacity: 0.8;")
			.text-secondary(style="font-size: 30px;font-family:'Times New Roman';")
				h5.pt-5 提供欧洲到中国一站式供应链服务
				.aboutMbSpace
				h5(style="font-family:'Times New Roman';")  SHANGHAI
				h5.mt-5(style="font-family:'Times New Roman';") KAKUI TRADING CO., LTD
				h5(style="font-family:'Times New Roman';") 格一（上海）贸易有限公司
				h6.mt-3 Address: TianyaoQiao Rd
				h6.mt-3 Xuhui Shanghai P.R.C. 200030
				h6.mt-3 Tel: +86 15821788876
				h6.mt-3 Email: server@shgeyi.com.cn
script(src="./js/user/cter/us/about.js")