.mbSpace(style="height: 100px")
#contact(style="height: 30px")
.pcSpace(style="height: 300px")
.container
	.contactBox.text-center.border-bottom.border-secondary
		h1(style="font-size: 50px;font-family:'Times New Roman';") CONTACT &nbsp; US
//- .pcSpace
	.container-fluid
		.row.p-5.text-center
			.col-6
				h1(style="font-family:'Times New Roman';") MILANO
				h4.mt-5(style="font-family:'Times New Roman';") HOLARTEC S.R.L.
				p Address: Via Cagliero 6
				P 10125, Milano(MI), Italy
				p Tel: +39 3314488217
				p Cell: +39 3888787897
				p Email: Holartec.milano@gmail.com
			.col-6
				h1(style="font-family:'Times New Roman';") SHANGHAI
				h4.mt-5(style="font-family:'Times New Roman';") KAKUI TRADING CO., LTD
				h5(style="font-family:'Times New Roman';") 格一（上海）贸易有限公司
				p Address: TianyaoQiao Rd
				P Xuhui Shanghai P.R.C. 200030
				p Tel: +86 15821788876
				p Email: server@shgeyi.com.cn
//- .mbSpace
	.container-fluid
		.row.text-center
			.col-12.mt-5
				h5(style="font-family:'Times New Roman';") MILANO
				h6.mt-3(style="font-family:'Times New Roman';") HOLARTEC S.R.L.
				p Address: Via Cagliero 6
				P 10125, Milano(MI), Italy
				p Tel: +39 3314488217
				p Cell: +39 3888787897
				p Email: Holartec.milano@gmail.com
			.col-12.mt-5
				h5(style="font-family:'Times New Roman';") SHANGHAI
				h6.mt-3(style="font-family:'Times New Roman';") KAKUI TRADING CO., LTD
				div(style="font-family:'Times New Roman';") 格一（上海）贸易有限公司
				p Address: TianyaoQiao Rd
				P Xuhui Shanghai P.R.C. 200030
				p Tel: +86 15821788876
				p Email: server@shgeyi.com.cn