extends ../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/ctBrand/"+pdsec.pdfir.brand._id) #{pdsec.pdfir.brand.nome}
				li.breadcrumb-item: a(href="/ctPdfir/"+pdsec.pdfir._id) #{pdsec.pdfir.code}
				li.breadcrumb-item.active(aria-current="page") 产品详情
		- var photo = pdsec.photo;
		if !photo
			- photo = Conf.picDefault.pdsec;
		.info
			include ./detail/info
			hr

		.pdthd
			input#pdthdFilterAjax(type="hidden", value="/usPdthdsAjax?pdsecId="+pdsec._id+"@#pdthdsElem@ct")
			#pdthdsElem.mt-5

	script(src="/js/dbs/ajaxGet/pdthd.js")