extends ../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/fnTrans") 列表
				li.breadcrumb-item.active(aria-current="page") 运输单详情
		.info.my-3
			include ./detail/basicInfo
		hr
		.compds.mt-3
			include ./compd/list