extends ../aalayout/layout

block content

	.container
		#advisory
			.pcSpace(style="height: 100px")
			h3 售后咨询
			p 在我们平台直购商品，我们提供专业的终身维修服务。

			p 如有普通维护需求，可联系我们客服，将为您提供服务。

			p 如有特殊需求，可派遣国外专家上门安装，保证质量。
		#invoice
			.pcSpace(style="height: 100px")
			h3 发票保障
			p 需要开具发票需要联系我们在线客服由我方财务人员确定款项是否到账，确定到账并邮寄发票！

		#acq
			.pcSpace(style="height: 100px")
			h3 常见问题
			p 提问：订货周期大概多久？

			p 回答：欧洲高端品牌家具的订购周期一般承诺6.5个月 （生产周期2-4.5个月，海运至国内港口56天左右，其余为衔接时间）； 若您订购的产品在国外有现货，则订购周期一般3-4个月；如果恰逢8月意大利假期或12月圣诞节，时间会略长， 因为从收货开始均为自行操作，我们会尽量把时间提前至5.5-6个月； 若您急需使用，则可以考虑空运方式，可以为您节省1个月左右时间。

			p 提问：网站上没有列出的品牌和产品可以代购么？

			p 回答：当然可以！您在中国市场上看到的任何意大利进口家居品牌产品，您只需抄录它们的品牌信息，我们将替您直接在厂家取回零售价格并报价给您；如果您觉得价格合适，那么双方签订购买合同，有任何产品或者品牌需求都 可咨询市场部人员。我们网站中无法将所有产品列出，但您可以通过这些产品对比中国市场零售价格。格一正在努力将更多品牌和产品在网站中列出，便于您选择。

			p 提问：谁负责售后安装？维修保养怎么处理？

			p 回答：我们拥有专业的物流以及安装人员给你提供这项服务， 不额外收取成本费用。如果您购买的是软体家具（沙发，床垫，扶手椅…）则无需安装服务， 我们将无偿为您提供送货上门服务。需要组装的家具，例如板式家具、厅柜等我们会有专业的安装人员上门服务； 如果您的产品在使用中发生破损，需要维修，我们提供一年的保修服务。

	.footerSpace