extends ../aalayout/layout

block content

	.container
		#authentic
			.pcSpace(style="height: 100px")
			h3 正品保障
			p 我们承诺：所有订购物品，由欧洲品牌原厂生产，独立集装箱装载直达用户居所。同时，「格一」提供原装出厂、海运、报关单据凭证，产品来源明晰可查，建有国际自有仓储物流体系，海外直发，确保正品。

			p 我司是欧洲进口家居直销平台，对接欧洲原厂实时报价，价格近乎国内市场的一半，家具买得更透明。
		#advantage
			.pcSpace(style="height: 100px")
			h3 价格优势
			p 1.低价订购

			p 团队主要人员，均有15+年以上国际贸易与国际物流经验，从欧洲出厂一直到国内送货入户，自有团队全程服务，没有第三方合作赚取差价，公司全体人员全程为您提供专属物品，打造专属服务。

			p 2.服务不加价

			p 有商家以低价吸引顾客，实际成交还需支付换汇、货运、保险、清关、配送安装等各项费用，还要根据汇率浮动预收款项，多 退少补，不承担任何风险损失，最终价格超出顾客预期。我司合同价格即为全部到手价，一站式服务到家，绝不加价，无需另 行支付额外费用。

			p 3.送货全免费

			p 我司是首家坚持在全国范围内不限地域为您提供免费配送及上门安装服务的企业，省钱省心，诚意到家。

		#discrimination
			.pcSpace(style="height: 100px")
			h3 真假辨别
			p 鉴别真假须知：

			p 1.格一通过欧洲工厂直接采购然后直接面向消费者，没有中间环节，可以向消费者提供产品原产地证书。

			p 2.因报关单涉及商业秘密，一般不会提供给消费者查看我们可以向消费者提供海关报关单。

			p 3.顶级家具品牌普遍会给产品赋予编号、LOGO等，甚至一些产品会有设计师的签名，例如五金组合件上一般都印有国外品牌，消费者可以留意产品细节。

	.footerSpace