extends ../aalayout/layout

block content

	.container
		#delivery
			.pcSpace(style="height: 100px")
			h3 配送说明
			p 全国区域内免费配送。

		#shipping
			.pcSpace(style="height: 100px")
			h3 运费说明
			p 合同价格即为全部到手价，一站式服务到家。有商家以低价吸引顾客，实际成交还需支付换汇、货运、 保险、清关、配送安装等各项费用，还要根据汇率浮动预收款项，多退少补，不承担任何风险损失，最终价格超出顾客预期。

		#inspection
			.pcSpace(style="height: 100px")
			h3 验货签收
			p 当您收到产品，在签收之前，请您花几分钟时间：

			p • 核对外包装上的产品信息，交货单据的产品信息，与您订购的产品是否一致，如有误差请不要打开包装并联系我们客服；

			p • 检查产品外包装是否完好，如果外包装轻微破损但不影响产品使用，请您拍照存档并在交货单据上注明“包装轻微破损”；如果外包装严重破损，请您现场开箱验货、拍照存档并联系我们客服，我们将与您沟通下一步处理方案。

			p 感谢您的时间，如产品出现问题，这几分钟时间将为后续快速妥善解决您的问题提供宝贵的依据。

	.footerSpace