extends ../aalayout/layout

block content

	.container
		#purch
			.pcSpace(style="height: 100px")
			h3 购买流程
			p 在线选择商品复制商品链接——咨询在线客服——提交报价——报价部进行报价——联系确认价格——确认商品——签订购买合同
			p （最终解释权归格一所有）

		#period
			.pcSpace(style="height: 100px")
			h3 订货周期
			p 欧洲高端品牌家具的订购周期一般承诺6.5个月（生产周期2-4.5个月，海运至国内港口56天左右，清关物流环节20天左右）； 若您订购的产品在国外有现货，则订购周期一般3-4个月； 如果恰逢8月意大利假期或12月圣诞节，时间会略长， 因为从收货开始均为自行操作，我们会尽量把时间提前至5.5-6个月； 若您急需使用，则可以考虑空运方式，可以为您节省1个月左右时间。

			p （如遇特殊情况，最终解释权归格一所有）

		#privacy
			.pcSpace(style="height: 100px")
			h3 隐私保护
			p 我们尊重您的资料和私隐权，非常重视用户的隐私和个人信息保护。承诺在遵守个人资料（私隐）条例的规定时，将完全符合国际认可的保障个人资料私隐（准则），并确保公司职员遵守最严格的安全和保密准则。 ：

			p 一、一般情况下，您无须提供您的姓名或其它个人信息即可访问我们的站点。但有时我们可能需要您提供一些信息，例如为了处理订单会与您联系等。我们可能需要这些信息完成以上事务的处理或提供更好的服务。

			p 二、本网站将对您所提供的资料会进行严格的管理及保护，并将使用相应的技术，防止您个人资料的丢失、被盗用或被篡改。

			p 三、本网站将对您在商城所购商品信息进行严格保密。

			p 四、本网站非常重视对用户隐私权的保护，承诺不会在未获得用户许可的情况下擅自将用户的个人资料信息泄露给任何第三，但以下情况除外：

			p 1、政府部门、司法机关等依照法定程序要求本网站披露个人资料时，本网站将根据执法单位之要求或为公共安全之目的提供个人资料；

			p 2、由于用户将个人密码告知他人或与他人共享注册账户，由此导致的任何个人资料泄露；

			p 3、任何由于计算机问题、黑客攻击、计算机病毒侵入或发作、因政府管制而造成的暂时性关闭等影响网络正常经营的不可抗力而造成的个人资料泄露、丢失、被盗用或被窜改等；

			p 4、由于与本网站链接的其他网站所造成之个人资料泄露及由此而导致的任何法律争议和后果。

			p 5、本网站将建立和维持一合理的程序，以保护未成年人个人资料的保密性及安全性。本网站郑重声明：任何16岁以下的未成年人参加网上活动应事先得到家长或其法定监护人的可经查证的同意。未经监护人之同意，本网站将不会使用未成年人之个人资料，亦不会向任何第三方披露或传送可识别该未成人的个人资料。

			p 6、本网站采取了各种措施以确保您进行购物等活动的安全性，可以有效地防止信息在传送中出现丢失，盗用或被篡改等情况。您可放心地在网上购买商品，享受网上购物的乐趣。

	.footerSpace