if !compd
	-a;
	.text-danger 请联系管理员, compd/basic/pdthdout.pug, compd Error!
else
	- let pdthdcode = '查找数据库';
	if compd.pdthd
		- pdthdcode = '['+compd.pdthd.code+']';
	.pdthdcode #{pdthdcode}
	.pdmater.mt-2 #{compd.mater}
	.pdcraft #{compd.craft}