extends ../../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item.active(aria-current="page") 询价单列表
		#searchElem.bg-white.input-group.my-3
			input.form-control#qunSearch(type="text", placeholder="询价单名称搜索")
			.input-group-append
				button.btn.btn-outline-secondary(type="button") <span class="oi oi-magnifying-glass"></span>
		.filter.p-3
			span.mr-5 查看询价单:
			button.mr-5.btn.btn-success.statusClick#statusAll(class=stsBtn, type="button") 全部
			each sts in Conf.qunSts
				-a;
				button.ml-3.btn.btn-default.statusClick(type="button", data-status=Conf.status[sts].num) #{Conf.status[sts].val}
		.add.mt-3
			if crUser.role == Conf.roleUser.seller.num
				-a;
				include ./add
		.inquotsList
			input#qunFilterAjax(type="hidden", value="/usQunsAjax?@#inquotsElem@sl@")
			//- input#qunFilterAjax(type="hidden", value="?key=xxx@#inquotsElem")
			#inquotsElem.mt-5
		script(src="/js/user/sler/qun/add.js")

		script(src="/js/dbs/ajaxGet/qun.js")