#pdthdsPage
	.row
		.col-12.col-md-9
		.col-6.col-md-3
			button.btn.btn-info.btn-block#pdthdAddPageShow(type="button") +添加材料工艺(原始价格)
	input#pdthdFilterAjax(type="hidden", value="/usPdthdsAjax?pdsecId="+pdsec._id+"@#pdthdsElem@bn")
	#pdthdsElem.mt-5

//- 添加产品
#pdthdAddPage(style="display:none")
	.row.my-3
		.col-12.col-md-9
		.col-12.col-md-3
			button.btn.btn-secondary.btn-block#pdthdsPageShow(type="button") 取消添加

	form#pdthdForm(method="post", action="/bnPdthdNew", enctype="multipart/form-data")
		input#pdsecIpt(type="hidden", name="obj[pdsec]", value=pdsec._id)
		hr
		.form-group.row
			label.col-4.col-md-2.col-form-label(for="codeIpt") 编号
			.col-8.col-md-10
				input#codeIpt.form-control(type="text", name="obj[code]")
			.col-4.col-md-2
			.col-8.col-md-10.text-danger#codeOpt
		.form-group.row
			label.col-4.col-md-2.col-form-label(for="priceIpt") 价格
			.col-8.col-md-10
				input#priceIpt.form-control(type="text", name="obj[price]")
			.col-4.col-md-2
			.col-8.col-md-10.text-danger#priceOpt
		.form-group.row.text-center
			label.col-md-2.col-form-label
			label.col-md-4.col-form-label 材质
			label.col-md-1.col-form-label
			label.col-md-5.col-form-label 工艺面料
			each k in [0, 1, 2, 3, 4, 5]
				- a;
				.col-md-2.mt-2
				.col-md-4.mt-2
					input.form-control.materIpt(type="text", name="obj[maters]["+k+"]")
				.col-md-1.mt-2
				.col-md-5.mt-2
					input.form-control.craftIpt(type="text", name="obj[crafts]["+k+"]")
		.form-group.row
			label.col-4.col-md-2.col-form-label(for="noteIpt") 备注
			.col-8.col-md-10
				textarea#noteIpt.form-control(type="text", rows="3", name="obj[note]", placeholder="备注")
		hr
		.form-group.row
			.col-12.text-right
				input.btn.btn-success(type="submit", value="添加")