extends ../../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/pmProjects") 列表
				li.breadcrumb-item.active(aria-current="page") 项目详情
		.update.text-right
			a.btn.btn-warning(href="/pmProjectUp/"+article._id) 更新
		.info
			include ../detail