extends ../aalayout/layout

block content
	.container
		.row
			.col-12.text-right
				include ./detail/upInfo
				span &nbsp;
				include ./detail/upPwd
		include ./detail/thisInfo
		include ./detail/delete