.row
	.col-12 物流管理系统
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/lgTrans")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 运输单
	.col-6.col-md-3.col-lg-2.text-center.mt-3
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/lgStrmlgs")
			img(src="/imgs/index/deposits.png", width=whsize, height=whsize)
			.text-dark.mt-2 运输公司