.row
	.col-12 管理部
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/users")
			img.rounded-circle(src="/imgs/index/staff.jpg", width=whsize, height=whsize)
			.text-dark.mt-2 成员
	.col-6.col-md-3.col-lg-2.text-center.mt-3
		a.btn.btn-default(href="/usFirm")
			img.rounded-circle(src="/imgs/index/office.jpg", width=whsize, height=whsize)
			.text-dark.mt-2 公司