.bgvideoBox(style="text-align:center;")
	.pcSpace
		video.bgVideo(id="pcVideo" width="100%" style="margin-top:15px;" loop muted poster="./imgs/bgImg/posterVideoPc.jpg")
			source(src=pcVideo type="video/mp4")
	.mbSpace
		video.bgVideo(id="mbVideo" width="100%" style="margin-top:15px;" loop muted poster="./imgs/bgImg/posterVideoMbNull.jpg")
			source(src=mbVideo type="video/mp4")

script(src="/js/video.js")