#compdsPage
	.row
		.col-12.col-sm-9
		.col-12.col-sm-3
			button.btn.btn-warning.btn-block#qunpdAddPageShow(type="button") + 添加询价商品
//- 添加产品
#qunpdAddPage.border.border-dark(style="display:none")
	form#objectForm(method="post", action="/slQunpdNew", enctype="multipart/form-data")
		input#inquotIpt(type="hidden", name="obj[inquot]", value=inquot._id)

		input(type="hidden", name="picDir", value=Conf.picPath.compd)
		input#picName(type="hidden", name="picName", value=crUser.firm.code)

		.row.my-3
			.col-md-2.mt-3.text-right 品牌信息:
			.col-md-3.mt-3
				input.form-control#brandIpt(type="hidden", name="obj[brand]", readonly="readonly",)
				input.border-danger.form-control#brandNomeIpt(type="text", name="obj[brandNome]", autocomplete="off", placeholder="* 填写品牌名")
			.col-md-3.mt-3
				input.form-control#areaIpt(type="text", name="obj[area]", autocomplete="off", placeholder="区域: 卧室/客厅...")
			.col-md-3.mt-3#brandweb
		input#brandFilterAjax(type="hidden", value="/usBrandsAjax?shelf=1&shelf=2@#brandsElem@sl")
		.ajax#brandsElem

		.row.my-3
			.col-md-2.mt-3.text-right 系列信息:
			.col-md-3.mt-3
				input.border-danger.form-control#pdNomeIpt(type="text", name="obj[pdNome]", autocomplete="off", placeholder="* 品类: 桌子/椅子/床...")
			.col-md-3.mt-3
				input.form-control#pdfirIpt(type="hidden", name="obj[pdfir]", readonly="readonly")
				input.border-danger.form-control#firNomeIpt(type="text", name="obj[firNome]", autocomplete="off", placeholder="* 系列名称")
		input#pdfirFilterAjax(type="hidden", value="/usPdfirsAjax?@#pdfirsElem@sl")
		.ajax#pdfirsElem
		.row.my-3
			.col-md-2.mt-3.text-right 产品图片:
			.col-md-3.mt-3(align="center")
				div 上传指定产品图:
				img.thumbnailImg#img-photo(src="", width="120px")
				.changeImg#imgEdit-photo.text-info <span class="oi oi-pencil"></span>[点击]
				input.picIpt#ipt-photo.btn.btn-info.btn-block(type="file", name="photo", style="display:none")
			.col-md-3.mt-4#firImg(align="center")
			.col-md-4.text-center.border-left
				input.form-control#firphotoIpt(type="hidden", name="obj[firphoto]", readonly="readonly")
				button#selPhotos.btn.btn-link(type="button" style="display:none") 选择其他图片
				#firImgs

		.row.my-3
			.col-md-2.mt-3.text-right 产品规格:
			.col-md-3.mt-3
				input.border-danger.form-control#specfIpt(type="text", name="obj[specf]", autocomplete="off", placeholder="* 尺寸: 长*宽*高")
			.col-md-3.mt-3
				input.form-control#pdsecIpt(type="hidden", name="obj[pdsec]", readonly="readonly")
				input.border-info.form-control#secNomeIpt(type="text", name="obj[secNome]", autocomplete="off", placeholder="产品编号(如有)")
		input#pdsecFilterAjax(type="hidden", value="/usPdsecsAjax?@#pdsecsElem@sl")
		.ajax#pdsecsElem
		.row.my-3
			.col-md-2.mt-3.text-right 线稿图:
			.col-md-3.mt-3(align="center")
				div 上传指定线稿图:
				img.thumbnailImg#img-sketch(src="", width="120px")
				.changeImg#imgEdit-sketch.text-info <span class="oi oi-pencil"></span>[点击]
				input.picIpt#ipt-sketch.btn.btn-info.btn-block(type="file", name="sketch", style="display:none")
			.col-md-3.mt-4#secImg(align="center")

		.row.my-3
			.col-md-2.mt-3.text-right 材质工艺:
			.col-md-3.mt-3
				input.border-danger.form-control#materIpt(type="text", name="obj[mater]", autocomplete="off", placeholder="* 填写/材质")
			.col-md-3.mt-3
				input.border-danger.form-control#craftIpt(type="text", name="obj[craft]", autocomplete="off", placeholder="* 填写/工艺,面料,颜色")
			.col-md-3.mt-3
				input.form-control#pdthdIpt(type="hidden", name="obj[pdthd]", readonly="readonly")
				input.border-info.form-control#thdNomeIpt(type="text", name="obj[thdNome]", autocomplete="off", placeholder="平台工艺搭配(帮助选项)")
		input#pdthdFilterAjax(type="hidden", value="/usPdthdsAjax?@#pdthdsElem@priceno")
		.ajax#pdthdsElem
		.row.my-3
			.col-md-2.mt-3.pt-5.text-right 材质图片:
			.col-md-2.mt-3(align="center")
				img.thumbnailImg#img-images0(src="", width="120px")
				.changeImg#imgEdit-images0.text-info <span class="oi oi-pencil"></span>[点击]
				input.picIpt#ipt-images0.btn.btn-info.btn-block(type="file", name="images[0]", style="display:none")
			.col-md-2.mt-3(align="center")
				img.thumbnailImg#img-images1(src="", width="120px")
				.changeImg#imgEdit-images1.text-info <span class="oi oi-pencil"></span>[点击]
				input.picIpt#ipt-images1.btn.btn-info.btn-block(type="file", name="images[1]", style="display:none")
			.col-md-2.mt-3(align="center")
				img.thumbnailImg#img-images2(src="", width="120px")
				.changeImg#imgEdit-images2.text-info <span class="oi oi-pencil"></span>[点击]
				input.picIpt#ipt-images2.btn.btn-info.btn-block(type="file", name="images[2]", style="display:none")
			.col-md-2.mt-3(align="center")
				img.thumbnailImg#img-images3(src="", width="120px")
				.changeImg#imgEdit-images3.text-info <span class="oi oi-pencil"></span>[点击]
				input.picIpt#ipt-images3.btn.btn-info.btn-block(type="file", name="images[3]", style="display:none")

		.row.my-3
			.col-md-2.mt-3.text-right 数量:
			.col-md-2.mt-3
				input.form-control#quantIpt(type="number", name="obj[quant]", autocomplete="off", placeholder="采购数量", value=1)
		.row.my-3
			.col-md-2.mt-3.text-right 备注:
			.col-md-10.mt-3
				input.form-control#noteIpt(type="text", name="obj[note]", autocomplete="off", placeholder="若面料工艺信息不全可备注为按高/中/低任一等级范围报价或提供其他关键询价信息")


		.form-group.row
			.col-12.text-right
				button.border.border-danger.mr-4.btn.btn-default.text-danger#compdsPageShow(type="button") 取消
				input.btn.btn-success(type="submit", value="确认保存")

script(src="/js/dbs/compd/comGetPd.js")