if users && users.length > 0
	-a;
	h2 公司成员
	table.table.table-hover.table-bordered
		thead
			tr
				th 账户
				th 角色
		tbody
			each user in users
				-a;
				tr
					td: a(href="/adUser/"+user._id) #{user.code}
					td 
						- let role = '';
						each roleUser in Conf.roleUser
							- role = '';
							if roleUser.num == user.role
								- role = roleUser.val;
								- break;
						span #{role}