extends ../../../aalayout/layout

block content
	.container.mt-3
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item.active(aria-current="page") 订单列表
		.filter
			.bg-white.input-group.py-3.my-3#searchElem
				input.form-control#dinSearch(type="text", placeholder="询价单名称搜索")
				.input-group-append
					button.btn.btn-outline-secondary(type="button") <span class="oi oi-magnifying-glass"></span>
			span.mr-5 查看销售订单:
			button.mr-5.btn.btn-success.statusClick#statusAll(class=stsBtn, type="button") 全部
			each sts in Conf.dinSts
				-a;
				button.ml-3.btn.btn-default.statusClick(type="button", data-status=Conf.status[sts].num) #{Conf.status[sts].val}
		.dinsList.mt-3
			input#dinFilterAjax(type="hidden", value="/usDinsAjax?@#dinsElem@od@")
			//- input#dinFilterAjax(type="hidden", value="?key=xxx@#dinsElem")
			#dinsElem.mt-5

		script(src="/js/dbs/ajaxGet/din.js")