extends ../../../aalayout/layout

block content
	.container
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item: a(href="/") Home
				li.breadcrumb-item: a(href="/qtQuts") 列表
				li.breadcrumb-item.active(aria-current="page") 报价单
		.info.my-3
			include ./detail/info
		.filter
			include ./detail/filter
		.compd
			include ./compd/list

		//- include ../../../aaPlugin/comment/list
		- let toUser = inquot.quner;
		include ../../../aaPlugin/notify/list