extends ../../aalayout/layout

block content
	.container.mt-3
		- let whsize = "30px";
		.other
			include ../../aaPage/index/oder
			hr
			include ../../aaPage/index/sler
			hr
			include ../../aaPage/index/qter
			hr
			include ../../aaPage/index/lger
			hr
			include ../../aaPage/index/fner
			hr
			include ../../aaPage/index/bner
			hr
			include ../../aaPage/index/pmer
			hr
		.text-info
			include ../../aaPage/index/mger