extends ../../aalayout/layout

block content
	.container.mt-3
		.text-center
			h2 平台操作系统
		- let whsize = "30px";
		.text-info
			include ../../aaPage/index/sler
		hr

		include ../../aaPage/index/cterBrand
		hr